@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 13px;
}

body {
  height: 100vh;
  background-color: hsl(210, 46%, 95%);
  font-family: "Manrope";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;
  min-width: 350px;
  max-width: 1440px;
  padding: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.img {
  width: 100%;
  height: auto;
  border: none;
}

.content {
  background-color: #fff;
  padding: 2rem;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  position: relative;
}
.content h1 {
  color: hsl(217, 19%, 35%);
  font-size: 1.31rem;
  font-weight: 700;
}
.content p {
  color: hsl(214, 17%, 51%);
  font-size: 1.1rem;
  font-weight: 500;
  margin-block-end: 1rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex .profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.flex .profile .avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.flex .profile .info {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.flex .profile .info span {
  color: hsl(217, 19%, 35%);
  font-size: 1.1rem;
  font-weight: 700;
}
.flex .profile .info span + span {
  color: hsl(214, 17%, 51%);
  font-size: 0.8rem;
  font-weight: 500;
}

.share-icon {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  padding: 10px;
  background-color: hsl(210, 46%, 95%);
  cursor: pointer;
  position: relative;
  z-index: 1000;
}

.mobile-share {
  display: none;
  background-color: hsl(217, 19%, 35%);
  padding: 30px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.mobile-share span {
  font-size: 1.4rem;
  font-weight: 500;
  color: hsl(212, 23%, 69%);
  letter-spacing: 6px;
  margin-inline-end: 14px;
  vertical-align: top;
}
.mobile-share img {
  color: #fff;
  width: 22px;
  height: 22px;
  cursor: pointer;
  margin-inline-end: 10px;
  vertical-align: top;
}

footer {
  padding-block: 10px;
  color: hsl(217, 19%, 35%);
}

@media (min-width: 768px) {
  .container {
    width: 760px;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    border-radius: 8px;
    position: relative;
  }
  .img {
    width: 40%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  .content {
    flex: 1;
    padding: 3rem;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-left: -30px;
  }
  .content h1 {
    font-size: 1.8rem;
  }
  .content p {
    margin-block: 8px;
  }
  .content .show {
    display: block;
    position: absolute;
    width: -moz-max-content;
    width: max-content;
    border-radius: 8px;
    position: absolute;
    right: -76px;
    bottom: 100px;
    padding: 20px 26px;
  }
  .content .show span {
    font-size: 1.4rem;
    font-weight: 500;
    color: hsl(212, 23%, 69%);
    letter-spacing: 6px;
    margin-inline-end: 14px;
    vertical-align: top;
  }
  .content .show img {
    color: #fff;
    width: 22px;
    height: 22px;
    cursor: pointer;
    margin-inline-end: 10px;
    vertical-align: top;
  }
  .content .show ::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: hsl(217, 19%, 35%) transparent transparent transparent;
  }
}
@media (max-width: 767px) {
  .img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .content {
    position: relative;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  .show {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
}/*# sourceMappingURL=styles.css.map */